.button{
    cursor: pointer;
  -webkit-transition-duration: ease;
  transition-duration: ease;
  font-family: 'Pokemon GB';
  margin: 5px;
  font-size: 12pt;
}

.button:hover {
    box-shadow: 5px 5px 5px 5px rgba(5, 5, 5, 0.24), 5px 5px 5px 5px rgba(0,0,0,0.19);
  }


  p1{
    background-image: url(assets/images/rocket2_8.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2rem;
    font-family:'Pokemon GB';
    font-size: 9pt;
    
  }

  p{
    font-family: 'Pokemon GB';
  }
  
  
  
