.button{
    cursor: pointer;
  -webkit-transition-duration: ease;
  transition-duration: ease;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
}

.button:hover {
    box-shadow: 5px 5px 5px 5px rgba(5, 5, 5, 0.24), 5px 5px 5px 5px rgba(0,0,0,0.19);
  }
