html {
    background:url(assets/images/pokemon-wallpaper-6.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

button {
    margin-top: 20px;
    margin-right: 15px;
    border-color:skyblue;
    background-color: rgb(10, 10, 10);
    color:rgb(253, 250, 250);
}

button:hover {
    background-color:rgb(2, 1, 8);
    color:rgb(255, 209, 6);
}
